{% extends "blog/base.html" %}
{% block content %}
<!--
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <legend>Log In</legend>
            </div>
            <div class="form-group">
                <label for="id_username">Username</label>
                <input type="text" for="id_username" name="username">
            </div>
            <div class="form-group">
                <label for="id_password">Password</label>
                <input type="text" for="id_password" name="password">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Log In</button>
            </div>
        </form>
        <div class="pt-3">
            <small class="text-muted">
                Need An Acount? <a class="ml-2"href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
-->
{% endblock content %}