{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <legend>Join Today</legend>
                {{ form.as_p }}
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="pt-3">
            <small class="text-muted">
                Already Have An Acount? <a class="ml-2"href="/admin">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}