{% extends "blog/base.html" %}
{% block content %}
    <div class="card card-body mb-3">
        <h2 class="card-title">Even</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Even</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
            {% for cat_even in cat_evens %}
              <tr>
                <td>{{ cat_even.nama_cat }}</td>
                <td>{{ cat_even.even_posted }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

          <h2 class="card-title">Nama Peserta</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nama</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
            {% for evens in evenss %}
              <tr>
                <td>{{ evens.name }}</td>
                <td>{{ evens.nama_cat }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <a href="/register" class="btn btn-success">Join Now</a>
    </div>
    
{% endblock content %}
