{% extends "blog/base.html" %}
{% block content %}
    <h2>About Me</h2>
    <table class="table">
        <tbody>
          <tr>
            <td>Nama</td>
            <td>Muhammad Alfath Fiqhya Amrinagara</td>
          </tr>
          <tr>
              <td>Semester</td>
              <td>Semester 3</td>
          </tr>
          <tr>
            <td>Jurusan</td>
            <td>Sistem Informasi</td>
        </tr>
        <tr>
            <td>Skill</td>
            <td>Django | Web Programming | C#.Net</td>
        </tr>
        </tbody>
      </table>
{% endblock content %}
