{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
    <div class="card card-body mb-3">
        <h2 class="card-title">{{ post.title}}</h2>
        <p class="card-text">By {{ post.author }} on {{ post.date_posted}}</p>
        <p>{{ post.content}}</p>
    </div>
    {% endfor %}
{% endblock content %}
